<div class="row">
    <div class="col-md-12 d-flex">

        <div class="card w-100">
            <div class="card-header border-0 pb-0">
                <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3">
                    <h4><i class="ti ti-grip-vertical me-1"></i>Table OOS Provinces</h4>
                    <div class="d-flex align-items-center justify-content-center flex-wrap row-gap-2">

                        <mat-form-field appearance="fill" class="me-2">
                            <mat-label>Select province</mat-label>
                            <mat-select (selectionChange)="onProvinceChange($event)">
                                <mat-option *ngFor="let item of provinceList" [value]="item">
                                    {{ item.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="daterange-picker mb-3">

                            <form [formGroup]="dateRange">
                                <div class="form-sorts dropdown">
                                    <a href="javascript:void(0);" data-bs-toggle="dropdown"
                                        data-bs-auto-close="outside"><i class="ti ti-filter-share"></i>Filter</a>
                                    <div class="filter-dropdown-menu dropdown-menu dropdown-menu-md-end p-3">
                                        <div class="filter-set-view">
                                            <div class="filter-set-head">
                                                <h4><i class="ti ti-filter-share"></i>Filter</h4>
                                            </div>

                                            <div class="accordion" id="accordionExample">
                                                <div class="filter-set-content">
                                                    <div class="filter-set-content-head">
                                                        <a href="javascript:void(0);" data-bs-toggle="collapse"
                                                            data-bs-target="#collapseCountry" aria-expanded="true"
                                                            aria-controls="collapseCountry">Pays</a>
                                                    </div>
                                                    <div class="filter-set-contents accordion-collapse collapse show"
                                                        id="collapseCountry" data-bs-parent="#accordionExample">
                                                        <div class="mb-2 icon-form">
                                                            <span class="form-icon"><i class="ti ti-search"></i></span>
                                                            <input type="text" class="form-control"
                                                                placeholder="Search Name" [value]="countrySearch()"
                                                                (input)="updateSearch($event)" />
                                                        </div>
                                                        <ul>
                                                            <li *ngFor="let item of filteredCountryList()">
                                                                <div class="filter-checks">
                                                                    <label class="checkboxs">
                                                                        <input type="checkbox" [value]="item.uuid"
                                                                            formControlName-="country_uuid"
                                                                            (change)="onCheckboxCountryChange($event, item)" />
                                                                        <span class="checkmarks"></span>
                                                                        {{ item.name }}
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="filter-set-head">
                                                <div class="form-sort me-2">
                                                    <i class="ti ti-calendar"></i>
                                                    <input type="text" class="form-control date-range bookingrange"
                                                        bsDaterangepicker [bsConfig]="{ adaptivePosition: true }"
                                                        formControlName="rangeValue" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @if (isLoading) {
                <div class=" text-center d-flex justify-content-center align-items-center ">
                    <div class="spinner-border bs-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                } @else {
                <div class="table-responsive custom-table">
                    <table class="table dataTable" id="deals-project">
                        <thead class="thead-light">
                            <tr>
                                <th>Province</th>
                                <th>Brand</th>
                                <th>Rupture stock en Pourcentage</th>
                                <th>Rupture stock en Chiffre</th>
                                <th>Visits</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of tableViewList; track $index) {
                            <tr class="odd">
                                <td>
                                    <a [routerLink]="['/web/dashboard/out-of-stock/area', item.name]">
                                        {{item.name }}</a>
                                </td>
                                <td>{{ item.brand }}</td>
                                @if (item.brand === 'Equateur') {
                                <td>
                                    @if (((item.visits -  item.presence) * 100 / item.visits) >= 20) {
                                    <span class="badge badge-pill bg-danger" style="font-size: 16px;">
                                        {{ ((item.visits -  item.presence) * 100 / item.visits).toFixed(2) }} %
                                    </span>
                                    }
                                    @else if (((item.visits -  item.presence) * 100 / item.visits) >= 10 &&
                                    ((item.visits -  item.presence) * 100 / item.visits) <= 19) { <span
                                        class="badge badge-pill bg-warning" style="font-size: 16px;">
                                        {{ ((item.visits -  item.presence) * 100 / item.visits).toFixed(2) }} %
                                        </span>
                                        }
                                        @else if (((item.visits -  item.presence) * 100 / item.visits) < 10) {
                                            <span class="badge badge-pill bg-success" style="font-size: 16px;">
                                            {{ ((item.visits -  item.presence) * 100 / item.visits).toFixed(2)}}%
                                            </span>
                                        }
                                </td>
                                } @else if(item.brand === 'MTC') {
                                <td style="background-color: rgba(245, 245, 220, 0.947);"> {{ ((item.visits -
                                     item.presence) * 100 / item.visits).toFixed(2) }} %</td>
                                } @else {
                                <td>{{ ((item.visits -  item.presence) * 100 / item.visits).toFixed(2) }} %</td>
                                }
                                <td>{{ (item.visits -  item.presence) }}</td>
                                <td>{{ item.visits }}</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
                }


                <!-- <td style="background-color: darkgray; text-align: center;">{{item.Mtc}} %</td> -->
            </div>
        </div>

    </div>
</div>