<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <h4 class="page-title">
                                PosForm<span class="count-title">{{total_records}}</span>
                            </h4>
                        </div>
                        <div class="col-md-8 text-end">
                            <div class="head-icons">
                                <app-reload></app-reload>
                                <app-collapse-header></app-collapse-header>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

                @if (currentUser) {
                <div class="card">
                    <div class="card-header">
                        <!-- Search -->
                        <div class="row align-items-center">
                            <div class="col-sm-4">
                                <div class="icon-form mb-3 mb-sm-0">
                                    <span class="form-icon"><i class="ti ti-search"></i></span>
                                    <!-- <input type="text" (keyup)="applyFilter($event)" class="form-control"
                                            placeholder="Ex. jean kasongo" #input /> -->
                                    <input type="text" #input [(ngModel)]="search"
                                        (ngModelChange)="onSearchChange($event)" class="form-control"
                                        placeholder="Rechercher un commentaire....">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="d-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end">
                                    <form [formGroup]="dateRange">
                                        <div class="daterange-picker">
                                            <div class="form-sort me-2">
                                                <i class="ti ti-calendar"></i>
                                                <input type="text" class="form-control date-range bookingrange"
                                                    bsDaterangepicker [bsConfig]="{ adaptivePosition: true }"
                                                    formControlName="rangeValue" />
                                            </div>
                                        </div>
                                    </form>
                                    @if(currentUser.permission === 'ALL' ||
                                    currentUser.permission === 'VAE' ||
                                    currentUser.permission === 'VA') {
                                        @if(isLoading) {
                                            <button disabled class="btn btn-primary">
                                                <div class="spinner-border" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </button>
                                        } @else {
                                            <a href="javascript:void(0);" (click)="onSubmitInit()" class="btn btn-primary"
                                                data-bs-toggle="offcanvas">
                                                <i class="ti ti-square-rounded-plus me-2"></i>
                                                Add New PosForm
                                            </a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- /Search -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive custom-table">
                            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"
                                class="mat-elevation-z8">

                                <!-- createdat Column -->
                                <ng-container matColumnDef="createdat">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                                    <td mat-cell *matCellDef="let data">
                                        @if (data.pos_uuid != '') {
                                        <a [routerLink]="['/web/pos/pos-view', data.pos_uuid, 'posforms']">
                                            {{ data.CreatedAt | date: 'dd/MM/yyyy HH:mm' }}
                                        </a>
                                        } @else {
                                        {{ data.CreatedAt | date: 'dd/MM/yyyy HH:mm' }}
                                        }
                                    </td>
                                </ng-container>

                                <!-- pos Column -->
                                <ng-container matColumnDef="pos">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pos</th>
                                    <td mat-cell *matCellDef="let data">
                                        @if (data.pos_uuid != '') {
                                        <a [routerLink]="['/web/pos/pos-view', data.pos_uuid, 'posforms']">
                                            {{ data.Pos!.name || '--' }}
                                        </a>
                                        } @else {
                                        {{ data.Pos!.name || '--' }}
                                        }
                                    </td>
                                </ng-container>

                                <!-- Country Column -->
                                <ng-container matColumnDef="country">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pays</th>
                                    <td mat-cell *matCellDef="let data">
                                        @if (data.pos_uuid != '') {
                                        <a [routerLink]="['/web/pos/pos-view', data.pos_uuid, 'posforms']">
                                            {{ data.Country!.name || '--' }}
                                        </a>
                                        } @else {
                                        {{ data.Country!.name || '--' }}
                                        }
                                    </td>
                                </ng-container>

                                <!-- Province Column -->
                                <ng-container matColumnDef="province">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Province</th>
                                    <td mat-cell *matCellDef="let data">
                                        @if (data.pos_uuid != '') {
                                        <a [routerLink]="['/web/pos/pos-view', data.pos_uuid, 'posforms']">
                                            {{ data.Province!.name || '--' }}
                                        </a>
                                        } @else {
                                        {{ data.Province!.name || '--' }}
                                        }
                                    </td>
                                </ng-container>

                                <!-- Area Column -->
                                <ng-container matColumnDef="area">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Area</th>
                                    <td mat-cell *matCellDef="let data">
                                        @if (data.pos_uuid != '') {
                                        <a [routerLink]="['/web/pos/pos-view', data.pos_uuid, 'posforms']">
                                            {{ data.Area?.name || '--' }}
                                        </a>
                                        } @else {
                                        {{ data.Area?.name || '--' }}
                                        }
                                    </td>
                                </ng-container>

                                <!-- Subarea Column -->
                                <ng-container matColumnDef="subarea">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Subarea</th>
                                    <td mat-cell *matCellDef="let data">
                                        @if (data.pos_uuid != '') {
                                        <a [routerLink]="['/web/pos/pos-view', data.pos_uuid, 'posforms']">
                                            {{ data.SubArea?.name || '--' }}
                                        </a>
                                        } @else {
                                        {{ data.SubArea?.name || '--' }}
                                        }
                                    </td>
                                </ng-container>

                                <!-- Commune Column -->
                                <ng-container matColumnDef="commune">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Commune</th>
                                    <td mat-cell *matCellDef="let data">
                                        @if (data.pos_uuid != '') {
                                        <a [routerLink]="['/web/pos/pos-view', data.pos_uuid, 'posforms']">
                                            {{ data.Commune?.name || '--' }}
                                        </a>
                                        } @else {
                                        {{ data.Commune?.name || '--' }}
                                        }
                                    </td>
                                </ng-container>

                                <!-- price Column -->
                                <ng-container matColumnDef="price">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Prix</th>
                                    <td mat-cell *matCellDef="let data">
                                        @if (data.pos_uuid != '') {
                                        <a [routerLink]="['/web/pos/pos-view', data.pos_uuid, 'posforms']">
                                            {{ data.price }}
                                        </a>
                                        } @else {
                                        {{ data.price }}
                                        }
                                    </td>
                                </ng-container>

                                <!-- ASM Column -->
                                <ng-container matColumnDef="asm">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ASM</th>
                                    <td mat-cell *matCellDef="let data">
                                        @if (data.pos_uuid != '') {
                                        <a [routerLink]="['/web/pos/pos-view', data.pos_uuid, 'posforms']">
                                            {{ data.asm || '--' }}
                                        </a>
                                        } @else {
                                        {{ data.asm || '--' }}
                                        }
                                    </td>
                                </ng-container>

                                <!-- Supervisor Column -->
                                <ng-container matColumnDef="sup">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Supervisor</th>
                                    <td mat-cell *matCellDef="let data">
                                        @if (data.pos_uuid != '') {
                                        <a [routerLink]="['/web/pos/pos-view', data.pos_uuid, 'posforms']">
                                            {{ data.sup || '--' }}
                                        </a>
                                        } @else {
                                        {{ data.sup || '--' }}
                                        }
                                    </td>
                                </ng-container>

                                <!-- DR Column -->
                                <ng-container matColumnDef="dr">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>DR</th>
                                    <td mat-cell *matCellDef="let data">
                                        @if (data.pos_uuid != '') {
                                        <a [routerLink]="['/web/pos/pos-view', data.pos_uuid, 'posforms']">
                                            {{ data.dr || '--' }}
                                        </a>
                                        } @else {
                                        {{ data.dr || '--' }}
                                        }
                                    </td>
                                </ng-container>

                                <!-- Cyclo Column -->
                                <ng-container matColumnDef="cyclo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cyclo</th>
                                    <td mat-cell *matCellDef="let data">
                                        @if (data.pos_uuid != '') {
                                        <a [routerLink]="['/web/pos/pos-view', data.pos_uuid, 'posforms']">
                                            {{ data.cyclo || '--' }}
                                        </a>
                                        } @else {
                                        {{ data.cyclo || '--' }}
                                        }
                                    </td>
                                </ng-container>

                                <!-- brand Column -->
                                <ng-container matColumnDef="brand">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Marques</th>
                                    <td mat-cell *matCellDef="let data">
                                        @if (data.pos_uuid != '') {
                                        <a [routerLink]="['/web/pos/pos-view', data.pos_uuid, 'posforms']">
                                            {{ data.PosFormItems.length || '0' }}
                                        </a>
                                        } @else {
                                        {{ data.PosFormItems.length || '0' }}
                                        }
                                    </td>
                                </ng-container>


                                <!-- comment Column -->
                                <ng-container matColumnDef="comment">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Commentaire</th>
                                    <td mat-cell *matCellDef="let data" style="width: 200px;">
                                        {{ data.comment || '--' }}
                                    </td>
                                </ng-container>

                                <!-- Action Column -->
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef> Action </th>
                                    <td mat-cell *matCellDef="let element" class="d-flex align-items-center">
                                        @if(element.pos_uuid == '') {
                                        <button mat-icon-button (click)="findValue(element.uuid)"
                                            data-bs-toggle="offcanvas" data-bs-target="#offcanvas_add">
                                            <mat-icon class="text-primary">add</mat-icon>
                                        </button>
                                        }

                                        <button mat-icon-button (click)="findValue(element.uuid)"
                                            data-bs-toggle="offcanvas" data-bs-target="#offcanvas_visibility">
                                            <mat-icon class="text-blue">visibility</mat-icon>
                                        </button>

                                        @if(element.pos_uuid != '' && currentUser.permission === 'ALL' ||
                                        currentUser.permission === 'VAE' ||
                                        currentUser.permission === 'VED' ||
                                        currentUser.permission === 'VE' &&
                                        isLessThan24HoursOld(element.CreatedAt)) {
                                        <button mat-icon-button (click)="findValue(element.uuid)"
                                            data-bs-toggle="offcanvas" data-bs-target="#offcanvas_edit">
                                            <mat-icon class="text-blue">edit</mat-icon>
                                        </button>
                                        }
                                        @if(currentUser.permission === 'ALL' ||
                                        currentUser.permission === 'VED' &&
                                        isLessThan24HoursOld(element.CreatedAt)) {
                                        <button mat-icon-button (click)="findValue(element.uuid)" data-bs-toggle="modal"
                                            data-bs-target="#delete_contact">
                                            <mat-icon class="text-danger">delete</mat-icon>
                                        </button>
                                        }
                                    </td>
                                </ng-container>

                                <!-- Table Header and Rows -->
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    @if (isLoadingData){
                                    <button disabled class="btn btn-primary">
                                        <div class="spinner-border" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </button>
                                    } @else {
                                    <td class="mat-cell" colspan="4">Aucune donnée correspondante au filtre
                                        "{{input.value}}"</td>
                                    }
                                </tr>
                            </table>
                        </div>

                        <mat-paginator [length]="total_records" [pageSize]="page_size"
                            [pageSizeOptions]="[15, 20, 30, 40, 50, 80, 100]" showFirstLastButtons
                            (page)="onPageChange($event)" aria-label="Select page">
                        </mat-paginator>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="datatable-length"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="datatable-paginate"></div>
                            </div>
                        </div>
                        <!-- /Projects List -->
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
<!-- Add New Contracts -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_add">

    <div class="offcanvas-header border-bottom">
        <h4>Ajouter le rapport de visite </h4>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label" for="text">POS <span class="text-danger">*</span></label>
                        <input #pos_uuid type="text" matInput formControlName="pos_uuid" [matAutocomplete]="autopos1"
                            placeholder="Selectionner le POS" class="form-control" (input)="getAllRoutePlans()"
                            (focus)="getAllRoutePlans()">
                        @if (isload) {
                        <div class="d-flex align-items-center">
                            <strong role="status">Loading...</strong>
                            <div class="spinner-border ms-auto" aria-hidden="true"></div>
                        </div>
                        }
                        <mat-autocomplete requireSelection #autopos1="matAutocomplete"
                            (optionSelected)="optionSelected($event)" [displayWith]="displayFn">
                            @for (item of filteredOptions; track item.uuid) {
                            <mat-option [value]="item">{{item.Pos!.name}} | {{item.Pos!.shop}}</mat-option>
                            }
                        </mat-autocomplete>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label" for="price">Prix <span class="text-danger">*</span></label>
                        <select class="form-control" formControlName="price" required>
                            <option value="" disabled selected>Selectionner un prix</option>
                            <option *ngFor="let price of priceList" [value]="price">{{ price }}</option>
                        </select>
                        <mat-error *ngIf="formGroup.controls['price'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </div>
                </div>

                <form [formGroup]="formGroupPosFormItem" (ngSubmit)="onSubmitItem()"
                    style="background-color: rgba(10, 128, 179, 0.045);">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label" for="text">Brand <span
                                        class="text-danger">*</span></label>
                                <input #brand_uuid type="text" matInput [matAutocomplete]="autopos3"
                                    placeholder="Selectionner le brand" class="form-control" (input)="getAllBrand()"
                                    (focus)="getAllBrand()">
                                @if (isloadBrand) {
                                <div class="d-flex align-items-center">
                                    <strong role="status">Loading...</strong>
                                    <div class="spinner-border ms-auto" aria-hidden="true"></div>
                                </div>
                                }
                                <mat-autocomplete requireSelection #autopos3="matAutocomplete"
                                    (optionSelected)="optionSelectedBrand($event)" [displayWith]="displayFnBrand">
                                    @for (item of filteredOptionBrand; track item.uuid) {
                                    <mat-option [value]="item">{{item.name}}</mat-option>
                                    }
                                </mat-autocomplete>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label" for="text">Total de farde <span
                                        class="text-danger">*</span></label>
                                <input type="number" class="form-control" formControlName="number_farde" required />
                                <mat-error *ngIf="formGroupPosFormItem.controls['number_farde'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label" for="text">Ventes <span
                                        class="text-danger">*</span></label>
                                <input type="number" class="form-control" formControlName="sold" required />
                                <mat-error *ngIf="formGroupPosFormItem.controls['sold'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-end mb-3">
                            <button type="submit" class="btn btn-success">
                                <i class="ti ti-check me-2"></i>
                                Ajouter
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Pos List -->
                <div class="task-wrapper">
                    <div class="row">
                        @if (isLoadingPosFormItem) {
                        <div class="d-flex align-items-center justify-content-center w-100">
                            <strong role="status">Loading...</strong>
                            <div class="spinner-border ms-2" aria-hidden="true"></div>
                        </div>
                        } @else {
                        @for (item of dataListPosFormItem; track $index) {
                        <div class="col-md-4 mb-3">
                            <div class="card task-card">
                                <div class="card-body">
                                    <div class="task-info d-flex align-items-center justify-content-between">
                                        <div>
                                            <p class="mb-1"><strong>
                                                    Brand:</strong> {{ item.Brand!.name }}
                                            </p>
                                            <p class="mb-1"><strong>
                                                    Nombre de Farde:</strong> {{ item.number_farde }}
                                            </p>
                                            <p *ngIf="item.sold > 0" class="mb-1">
                                                <strong>{{ item.sold > 1 ? 'Ventes:' : 'Vente:' }}</strong>
                                                {{ item.sold }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="task-actions mt-3 text-end">
                                        <a href="javascript:void(0);" (click)="deletePosFormItem(item.uuid!)"
                                            class="text-danger">
                                            <i class="ti ti-trash"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        }
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label" for="text">Commentaire <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="comment" required />
                        <mat-error *ngIf="formGroup.controls['comment'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Annuler</button>
                @if (isLoading) {
                <button disabled class="btn btn-primary">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                }
                @if (!isLoading) {
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="offcanvas"
                    data-bs-target="#create_success">Soumettre</button>
                }
            </div>
        </form>
    </div>

</div>
<!-- /Add New Contracts -->


<!-- Edit Contracts -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_edit">

    <div class="offcanvas-header border-bottom">
        <h4>Modifier le rapport de visite </h4>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmitUpdate()">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label" for="text">POS <span class="text-danger">*</span></label>
                        <input #pos_uuid type="text" matInput formControlName="pos_uuid" [matAutocomplete]="autopos1"
                            placeholder="Selectionner le POS" class="form-control" (input)="getAllRoutePlans()"
                            (focus)="getAllRoutePlans()">
                        @if (isload) {
                        <div class="d-flex align-items-center">
                            <strong role="status">Loading...</strong>
                            <div class="spinner-border ms-auto" aria-hidden="true"></div>
                        </div>
                        }
                        <mat-autocomplete requireSelection #autopos1="matAutocomplete"
                            (optionSelected)="optionSelected($event)" [displayWith]="displayFn">
                            @for (item of filteredOptions; track item.uuid) {
                            <mat-option [value]="item">{{item.Pos!.name}} | {{item.Pos!.shop}}</mat-option>
                            }
                        </mat-autocomplete>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label" for="price">Prix <span class="text-danger">*</span></label>
                        <select class="form-control" formControlName="price" required>
                            <option value="" disabled selected>Selectionner un prix</option>
                            <option *ngFor="let price of priceList" [value]="price">{{ price }}</option>
                        </select>
                        <mat-error *ngIf="formGroup.controls['price'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </div>
                </div>

                <form [formGroup]="formGroupPosFormItem" (ngSubmit)="onSubmitItem()"
                    style="background-color: rgba(10, 128, 179, 0.045);">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label" for="text">Brand <span
                                        class="text-danger">*</span></label>
                                <input #brand_uuid type="text" matInput [matAutocomplete]="autopos3"
                                    placeholder="Selectionner le brand" class="form-control" (input)="getAllBrand()"
                                    (focus)="getAllBrand()">
                                @if (isloadBrand) {
                                <div class="d-flex align-items-center">
                                    <strong role="status">Loading...</strong>
                                    <div class="spinner-border ms-auto" aria-hidden="true"></div>
                                </div>
                                }
                                <mat-autocomplete requireSelection #autopos3="matAutocomplete"
                                    (optionSelected)="optionSelectedBrand($event)" [displayWith]="displayFnBrand">
                                    @for (item of filteredOptionBrand; track item.uuid) {
                                    <mat-option [value]="item">{{item.name}}</mat-option>
                                    }
                                </mat-autocomplete>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label" for="text">Total de farde <span
                                        class="text-danger">*</span></label>
                                <input type="number" class="form-control" formControlName="number_farde" required />
                                <mat-error *ngIf="formGroupPosFormItem.controls['number_farde'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label" for="text">Ventes <span
                                        class="text-danger">*</span></label>
                                <input type="number" class="form-control" formControlName="sold" required />
                                <mat-error *ngIf="formGroupPosFormItem.controls['sold'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-end mb-3">
                            <button type="submit" class="btn btn-success w-100">
                                <i class="ti ti-check me-2"></i>
                                Ajouter
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Pos List -->
                <div class="task-wrapper" *ngIf="dataItem">
                    <div class="row">
                        @if (isLoadingPosFormItem) {
                        <div class="d-flex align-items-center justify-content-center w-100">
                            <strong role="status">Loading...</strong>
                            <div class="spinner-border ms-2" aria-hidden="true"></div>
                        </div>
                        } @else {
                        @for (item of dataListPosFormItem; track $index) {
                        <div class="col-md-4 mb-3">
                            <div class="card task-card">
                                <div class="card-body">
                                    <div class="task-info d-flex align-items-center justify-content-between">
                                        <div>
                                            <p class="mb-1"><strong>Brand:</strong> {{ item.Brand!.name }}</p>
                                            <p class="mb-1"><strong>Nombre de Farde:</strong> {{ item.number_farde }}
                                            </p>
                                            <p *ngIf="item.sold > 0" class="mb-1">
                                                <strong>{{ item.sold > 1 ? 'Ventes:' : 'Vente:' }}</strong>
                                                {{ item.sold }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="task-actions mt-3 text-end">
                                        <a href="javascript:void(0);" (click)="deletePosFormItem(item.uuid!)"
                                            class="text-danger">
                                            <i class="ti ti-trash"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        }
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label" for="text">Commentaire <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="comment" required />
                        <mat-error *ngIf="formGroup.controls['comment'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Annuler</button>
                @if (isLoading) {
                <button disabled class="btn btn-primary">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                }
                @if (!isLoading) {
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="offcanvas"
                    data-bs-target="#create_success">Enregistrer les modifications</button>
                }
            </div>
        </form>
    </div>

</div>
<!-- /Edit Contracts -->


<!-- Visibility report -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_visibility" *ngIf="dataItem">

    <div class="offcanvas-header border-bottom">
        <h4>Rapport de visite </h4>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <p>
                        <strong>POS:</strong>
                        {{dataItem.Pos!.name}} | {{dataItem.Pos!.shop}}
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <p>
                        <strong>Prix:</strong> {{ dataItem.price || '--' }} FC
                    </p>
                </div>
            </div>

            <!-- Pos List -->
            <div class="task-wrapper">
                <div class="row">
                    @if (isLoadingPosFormItem) {
                    <div class="d-flex align-items-center justify-content-center w-100">
                        <strong role="status">Loading...</strong>
                        <div class="spinner-border ms-2" aria-hidden="true"></div>
                    </div>
                    } @else {
                    @for (item of dataListPosFormItem; track $index) {
                    <div class="col-md-4 mb-3">
                        <div class="card task-card">
                            <div class="card-body">
                                <div class="task-info d-flex align-items-center justify-content-between">
                                    <div>
                                        <p class="mb-1"><strong>Brand:</strong> {{ item.Brand!.name }}</p>
                                        <p class="mb-1"><strong>Nombre de Farde:</strong> {{ item.number_farde }}
                                        </p>
                                        <p *ngIf="item.sold > 0" class="mb-1">
                                            <strong>{{ item.sold > 1 ? 'Ventes:' : 'Vente:' }}</strong>
                                            {{ item.sold }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    }
                </div>
            </div>

            <div class="col-md-12">
                <div class="mb-3">
                    <p>
                        <strong>Commentaire:</strong>
                        {{ dataItem.comment || '--' }}
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Visibility report -->

<!-- Delete User -->
<div class="modal fade" id="delete_contact" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="avatar avatar-xl bg-danger-light rounded-circle mb-3">
                        <i class="ti ti-trash-x fs-36 text-danger"></i>
                    </div>
                    <h4 class="mb-2">Supprimer l'article ?</h4>
                    <p class="mb-0">Êtes-vous sûr de vouloir le supprimer ?</p>
                    <div class="d-flex align-items-center justify-content-center mt-4">
                        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Annuler</a>
                        <button (click)="delete()" class="btn btn-danger" data-bs-dismiss="modal">
                            Oui, Supprimer le
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete User -->