<!-- Page Wrapper -->
<div class="page-wrapper">
    @if (isLoading) {
    <div class="text-center d-flex justify-content-center align-items-center">
        <div class="spinner-border bs-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    } @else {
    @if (currentUser && pos) {
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <h4 class="page-title">Détails POS</h4>
                        </div>
                        <div class="col-sm-8 text-sm-end">
                            <div class="head-icons">
                                <app-reload></app-reload>
                                <app-collapse-header></app-collapse-header>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- POS Header -->
                <div class="contact-head">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <ul class="contact-breadcrumb">
                                <li><a href="javascript:void(0);">POS</a></li>
                                <li>{{ pos.name }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body pb-2">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <div class="d-flex align-items-center mb-2">
                                <div class="avatar avatar-xxl bg-primary-light me-3 flex-shrink-0">
                                    <i class="ti ti-building-store fs-36 text-primary"></i>
                                </div>
                                <div>
                                    <h5 class="mb-1">{{ pos.name.toLocaleUpperCase() }}</h5>
                                    <p class="mb-2">Point de Vente</p>
                                    <div class="d-flex align-items-center">
                                        <span class="badge badge-light bg-light-600 text-default me-3">
                                            <a [href]="'tel:' + pos.telephone" class="text-default text-decoration-none">
                                                <i class="ti ti-phone me-1"></i>
                                                {{ pos.telephone }}
                                            </a>
                                        </span>
                                        <span class="badge badge-success" *ngIf="pos.status">
                                            <i class="ti ti-check me-1"></i>
                                            Active
                                        </span>
                                        <span class="badge badge-danger" *ngIf="!pos.status">
                                            <i class="ti ti-x me-1"></i>
                                            Inactive
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="contacts-action">
                                <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvas_edit">
                                    <i class="ti ti-edit-circle"></i> Modifier POS
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /POS Header -->
            </div>

            <!-- POS Sidebar -->
            <div class="col-xl-3 theiaStickySidebar">
                <div class="card">
                    <div class="card-body p-3">
                        <h6 class="mb-3 fw-semibold">Informations de base</h6>
                        <div class="mb-3">
                            <div class="d-flex align-items-center mb-3">
                                <span
                                    class="avatar avatar-xs bg-light-300 p-0 flex-shrink-0 rounded-circle text-dark me-2">
                                    <i class="ti ti-building-store"></i>
                                </span>
                                <p><strong>Shop:</strong> {{ pos.shop || 'Pas de shop' }}</p>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <span
                                    class="avatar avatar-xs bg-light-300 p-0 flex-shrink-0 rounded-circle text-dark me-2">
                                    <i class="ti ti-category"></i>
                                </span>
                                <p><strong>Categorie:</strong> {{ pos.postype }}</p>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <span
                                    class="avatar avatar-xs bg-light-300 p-0 flex-shrink-0 rounded-circle text-dark me-2">
                                    <i class="ti ti-map-pin"></i>
                                </span>
                                <p><strong>Reference:</strong> {{ pos.reference || 'Pas de reference' }}</p>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <span
                                    class="avatar avatar-xs bg-light-300 p-0 flex-shrink-0 rounded-circle text-dark me-2">
                                    <i class="ti ti-calendar-exclamation"></i>
                                </span>
                                <p><strong>Créé le: </strong> {{ pos.CreatedAt | date: 'dd/MM/yyyy' }}</p>
                            </div>
                        </div>
                        <hr>
                        <h6 class="mb-3 fw-semibold">Localisation</h6>
                        <ul>
                            <li class="row mb-3">
                                <span class="col-6"><strong>Pays</strong></span>
                                <span class="col-6">{{ pos.Country?.name || 'N/A' }}</span>
                            </li>
                            <li class="row mb-3">
                                <span class="col-6"><strong>Province</strong></span>
                                <span class="col-6">{{ pos.Province?.name || 'N/A' }}</span>
                            </li>
                            <li class="row mb-3">
                                <span class="col-6"><strong>Area</strong></span>
                                <span class="col-6">{{ pos.Area?.name || 'N/A' }}</span>
                            </li>
                            <li class="row mb-3">
                                <span class="col-6"><strong>Sub Area</strong> </span>
                                <span class="col-6">{{ pos.SubArea?.name || 'N/A' }}</span>
                            </li>
                            <li class="row mb-3">
                                <span class="col-6"><strong>Sous sous-Area <small>(Quartier)</small></strong> </span>
                                <span class="col-6">{{ pos.Commune?.name || 'N/A' }}</span>
                            </li>
                            <li class="row mb-3">
                                <span class="col-6"><strong>Avenue</strong> </span>
                                <span class="col-6">{{ pos.quartier || 'N/A' }}{{ pos.avenue || 'N/A' }}</span>
                            </li>
                        </ul>
                        <hr>
                        <h6 class="mb-3 fw-semibold">Statistiques</h6>
                        <ul>
                            <li class="row mb-3">
                                <span class="col-6"><strong>Total Visite</strong> </span>
                                <span class="col-6">
                                    <span class="badge badge-primary">{{ pos.PosForms?.length }}</span>
                                </span>
                            </li>
                            <li class="row mb-3">
                                <span class="col-6"><strong>Status</strong></span>
                                <span class="col-6">
                                    <span class="badge badge-success" *ngIf="pos.status">Active</span>
                                    <span class="badge badge-danger" *ngIf="!pos.status">Inactive</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /POS Sidebar -->

            <!-- POS Details -->
            <div class="col-xl-9">
                <div class="card mb-3">
                    <div class="card-body pb-0 pt-2">
                        <ul class="nav nav-tabs nav-tabs-bottom" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a href="javascript:void(0);" data-bs-toggle="tab" data-bs-target="#map-tab"
                                    class="nav-link active">
                                    <i class="ti ti-map me-1"></i>Carte POS
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="javascript:void(0);" data-bs-toggle="tab" data-bs-target="#forms-tab"
                                    class="nav-link">
                                    <i class="ti ti-file-text me-1"></i>Visites <span
                                        class="badge badge-primary ms-1">{{ total_records }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Tab Content -->
                <div class="tab-content pt-0">
                    <!-- Map Tab -->
                    <div class="tab-pane fade show active" id="map-tab" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <app-map-pos [posUUId]="pos.uuid || ''"></app-map-pos>
                            </div>
                        </div>
                    </div>

                    <!-- Forms Tab -->
                    <div class="tab-pane fade" id="forms-tab" role="tabpanel">
                        <app-posforms [posUUId]="pos.uuid || ''"></app-posforms>
                    </div>
                </div>
                <!-- /Tab Content -->
            </div>
            <!-- /POS Details -->
        </div>
    </div>
    }
}
</div>
<!-- /Page Wrapper -->

<!-- Offcanvas Modifier POS -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_edit">
    <div class="offcanvas-header border-bottom">
        <h4>Modifier POS</h4>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmitUpdate()">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label" for="text">Shop <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="shop" required />
                        <mat-error *ngIf="formGroup.controls['shop'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label" for="postype">POS Type <span class="text-danger">*</span></label>
                        <select class="form-control" formControlName="postype" required>
                            <option value="" disabled selected>Select POS Type</option>
                            <option *ngFor="let type of posTypes" [value]="type">{{ type }}</option>
                        </select>
                        <mat-error *ngIf="formGroup.controls['postype'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label" for="text">Nom du vendeur<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="name" required />
                        <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label" for="text">Gérant <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="gerant" required />
                        <mat-error *ngIf="formGroup.controls['gerant'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label" for="text">Avenue <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="avenue" required />
                        <mat-error *ngIf="formGroup.controls['avenue'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label" for="text">Quartier <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="quartier" required />
                        <mat-error *ngIf="formGroup.controls['quartier'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label" for="text">Reference <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="reference" required />
                        <mat-error *ngIf="formGroup.controls['reference'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label" for="text">Telephone <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="telephone" required />
                        <mat-error *ngIf="formGroup.controls['telephone'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Annuler</button>
                @if (isLoading) {
                <button disabled class="btn btn-primary">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                }
                @if (!isLoading) {
                <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                }
            </div>
        </form>
    </div>
</div>
<!-- /Offcanvas Modifier POS -->
