<div class="row">
    <div class="col-md-12 d-flex">

        <div class="card w-100">
            <div class="card-header border-0 pb-0">
                <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3">
                    <h4><i class="ti ti-grip-vertical me-1"></i>Table ND Provinces</h4>
                    <div class="d-flex align-items-center flex-wrap row-gap-2">
                        <mat-form-field appearance="fill" class="me-2">
                            <mat-label>Select province</mat-label>
                            <mat-select (selectionChange)="onProvinceChange($event)">
                                <mat-option *ngFor="let item of provinceList" [value]="item">
                                    {{ item.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <app-nd-table-view [isLoading]="isLoading" [tableView]="tableViewList"></app-nd-table-view>
            </div>
        </div>

    </div>
</div>
