@if (isLoading) {
<div class=" text-center d-flex justify-content-center align-items-center ">
    <div class="spinner-border bs-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
} @else {
    <div class="d-flex align-items-center justify-content-end flex-wrap row-gap-2 text-end">

        <mat-form-field appearance="fill" class="me-2">
            <mat-label>Select province</mat-label>
            <mat-select [(value)]="selectedProvince" (selectionChange)="onProvinceChange($event)">
                <mat-option *ngFor="let item of provinceList" [value]="item">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="daterange-picker mb-3">

            <form [formGroup]="dateRange">
                <div class="form-sorts dropdown">
                    <a href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside"><i
                            class="ti ti-filter-share"></i>Filter</a>
                    <div class="filter-dropdown-menu dropdown-menu dropdown-menu-md-end p-3">
                        <div class="filter-set-view">
                            <div class="filter-set-head">
                                <h4><i class="ti ti-filter-share"></i>Filter</h4>
                            </div>

                            <div class="accordion" id="accordionExample">
                                <div class="filter-set-content">
                                    <div class="filter-set-content-head">
                                        <a href="javascript:void(0);" data-bs-toggle="collapse"
                                            data-bs-target="#collapseCountry" aria-expanded="true"
                                            aria-controls="collapseCountry">Pays</a>
                                    </div>
                                    <div class="filter-set-contents accordion-collapse collapse show"
                                        id="collapseCountry" data-bs-parent="#accordionExample">
                                        <div class="mb-2 icon-form">
                                            <span class="form-icon"><i class="ti ti-search"></i></span>
                                            <input type="text" class="form-control" placeholder="Search Name"
                                                [value]="countrySearch()" (input)="updateSearch($event)" />
                                        </div>
                                        <ul>
                                            <li *ngFor="let item of filteredCountryList()">
                                                <div class="filter-checks">
                                                    <label class="checkboxs">
                                                        <input type="checkbox" [value]="item.uuid"
                                                            formControlName-="country_uuid"
                                                            (change)="onCheckboxCountryChange($event, item)" />
                                                        <span class="checkmarks"></span>
                                                        {{ item.name }}
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="filter-set-head">
                                <div class="form-sort me-2">
                                    <i class="ti ti-calendar"></i>
                                    <input type="text" class="form-control date-range bookingrange"
                                        bsDaterangepicker [bsConfig]="{ adaptivePosition: true }"
                                        formControlName="rangeValue" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
<div class="row">
    <div class="col-md-6">
        <div class="card w-100">
            <div class="card-header border-0 pb-0">
                <h4>Type Pos par Province</h4>
            </div>
            <div class="card-body mb-5">
                @if (tableViewList) {
                <div id="leadpiechart">
                    <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart"
                        [labels]="chartOptions3.labels" [responsive]="chartOptions3.responsive"
                        [legend]="chartOptions3.legend">
                    </apx-chart>
                </div>
                }
            </div>
            <div class="table-responsive custom-table">
                <table class="table dataTable" id="deals-project">
                    <thead class="thead-light">
                        <tr>
                            <th>Province</th>
                            <th class="text-center">Type POS</th>
                            <th class="text-center">Total Pos</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of tableViewList; track $index) {
                        <tr class="odd">
                            <td>
                                <a [routerLink]="['/web/dashboard/sales-evolution/area', item.name]">{{ item.name }}</a>
                            </td>
                            <td class="text-center">{{ item.type_pos }}</td>
                            <td class="text-center">{{ item.total_pos }}</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card w-100">
            <div class="card-header border-0 pb-0">
                <h4>Prix de tige par Province</h4>
            </div>
            <div class="card-body mb-5">
                @if (tableViewPriceList) {
                <div id="leadpiechart">
                    <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart"
                        [labels]="chartOptions4.labels" [responsive]="chartOptions4.responsive"
                        [legend]="chartOptions4.legend">
                    </apx-chart>
                </div>
                }
            </div>
            <div class="table-responsive custom-table">
                <table class="table dataTable" id="deals-project">
                    <thead class="thead-light">
                        <tr>
                            <th>Province</th>
                            <th class="text-center">Prix</th>
                            <th class="text-center">Total Prix</th>
                            <th class="text-center">Stock Vendus</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of tableViewPriceList; track $index) {
                        <tr class="odd">
                            <td>
                                <a [routerLink]="['/web/dashboard/sales-evolution/area', item.name]">{{ item.name }}</a>
                            </td>
                            <td class="text-center">{{ item.price }} FC</td>
                            <td class="text-center">{{ item.count_price }}</td>
                            <td class="text-center">{{ item.sold }} farde{{ item.sold > 1 ? 's' : '' }}</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

}


<!-- <td style="background-color: darkgray; text-align: center;">{{item.Mtc}} %</td> -->