<div class="page-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col-md-4">
                <h3 class="page-title">OUT OF STOCK</h3>
              </div>
              <div class="col-md-8 float-end ms-auto">
                @if (this.currentUser) {
                <div class="d-flex title-head">
                  <div class="head-icons mb-0">
                    <app-reload></app-reload>
                    <app-collapse-header></app-collapse-header>
                  </div>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
      <router-outlet />
  
  
      <div class="row">
        <div class="col-md-12 d-flex">
          <div class="card w-100">
            <div class="card-header border-0 pb-0">
              <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3">
                <h4><i class="ti ti-grip-vertical me-1"></i>OOS by Year</h4>
              </div>
            </div>
            <div class="card-body">
              <app-oos-by-year [isLoading]="isLoading" [ndYear]="ndYearList"></app-oos-by-year>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
